body {
  margin: 0%;
  font-family: fantasy;
  font-size: 16px;
  color: #E0E0E1;
  background-color: #1C1E27;
}

p {
  color: #E0E0E1;
  margin: 0%;
  text-align: justify;
}

a {
  color: #E0E0E1;
  text-decoration: none;
}

img {
  margin-top: 15px;
  image-rendering: pixelated;
  max-width: 100%;
  height: auto;
  margin: 0%;
}

/* ----------------------------- Main Page ---------------------------------*/

.ball {
  display: inline-block;
  width: 58px;
  height: 58px;
  margin: 45px;
  border-radius: 50%;
  background-color: rgba(153, 216, 245, 0.800);
}

.staticball {
  display: inline-block;
  width: 58px;
  height: 58px;
  margin: 45px;
  border-radius: 50%;
  background-color: rgba(153, 216, 245, 0.800);
}

.smallGrid {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
}

.about {
  margin: 0px 95px; 
  text-align: justify;
}

.mainHeader {
  top: 0px;
  display: block;
  text-align: right;
  font-size: 20px;
}

.mainHeader1 {
  display: inline-block;
}

.mainHeader2 {
  margin-left: 45px;
  display: inline-block;
  margin-right: 5%;
}

.contact {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}

i {
  font-size:22px;
}

/* --------------------------- Resume Page -------------------------------- */

.resumePage {
  margin: auto;
  width: 60%;
  font-size: 18px;
  padding-bottom: 70px;
  z-index: 1;
}

.resumeHeader {
  margin-top: 20px;
  display: block;
  color: #E0E0E1;
  margin-bottom: 70px;
}

.resumeHeader_container {
  padding-top: 45px;
  padding-bottom: 50px;
}

.pageName {
  float: left;
  font-size: 22px;
}

.linkToMainPage {
  padding-top: 45px;
  display: block;
  float: right;
  margin-right: 30px;
}

.linkToPhotoPage {
  padding-top: 45px;
  display: block;
  float: right;
}

.techStack {
  color: rgb(0, 212, 245);
  margin-bottom: 7px;
}

.projectName {
  color: rgb(255, 0, 85);
}

.description {
  margin-bottom: 25px;
}

/* --------------------- Photography&Travel Page ---------------------------*/

.location {
  font-size: 14px;
  color: #1C1E27;
}

.photoHeader {
  top: 0px;
  display: block;
  font-size: 18px;
  color: #1C1E27;
}

.photoHeader_container {
  left: 0;
  right: 0;
  padding: 50px;
}

.photoHeader1 {
  float: left;
  margin-left: 3.9%;
  font-size: 32px;
}

.photoHeader2 {
  padding-top: 15px;
  display: block;
  float: right;
  margin-right: 7%;
}

.photoHeader3 {
  padding-top: 15px;
  display: block;
  float: right;
  margin-right: 3%;
}
